/*This section is for setting fonts.*/
@font-face {
    font-family: "Merriweather-Light";
    src: url(/Assets/Fonts/Merriweather/Merriweather-Light.ttf) format(truetype);
}
@font-face {
    font-family: "Merriweather-LightItalic";
    src: url(/Assets/Fonts/Merriweather/Merriweather-LightItalic.ttf) format(truetype);
}
@font-face {
    font-family: "Merriweather-Regular";
    src: url(/Assets/Fonts/Merriweather/Merriweather-Regular.ttf) format(truetype);
}
@font-face {
    font-family: "Merriweather-Bold";
    src: url(/Assets/Fonts/Merriweather/Merriweather-Bold.ttf) format(truetype);
}

/*This section is setting a series of attributes for all the elements and their afters and befores.*/
*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*This section is about color variables.*/
$first-color: #F8EDE3;
$second-color: #DFD3C3;
$third-color: #D0B8A8;
$fourth-color: #C5705D;
$fifth-color: #000000;

/*This section is for setting attributes for wrapper part.*/
.wrapper{
    overflow: hidden;
    /*This section is for setting attributes for show accessories products part.*/
    .show-accessories-products-part{
        max-height: 100%;
        min-height: 100vh;
        animation-name: opacities;
        animation-duration: 1s;
        .show-accessories-products-title-part{
            .show-accessories-products-title{
                font-family: "Merriweather-Bold";
            }
        }
        .show-accessories-products{
            .products{
                background-color: $fourth-color;
                width: 14.5rem;
                height: 23rem;
                transition: transform 0.2s;
                .products-image{
                    width: 10rem;
                    height: 10rem;
                    background-color: $second-color;
                }
                .products-title{
                    font-family: "Merriweather-Regular";
                    color: $first-color;
                }
                .products-price{
                    font-family: "Merriweather-Regular";
                    color: $first-color;
                }
                .add-to-shopping-bag{
                    background-color: $second-color;
                    font-family: "Merriweather-Regular";
                    transition: opacity 0.2s;
                }
                .add-to-shopping-bag:hover{
                    opacity: 0.5;
                }
            }
            .products:hover{
                transform: scale(1.03);
            }
        }
    }
}

/*This section is about opacity animation.*/
@keyframes opacities{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}