<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>LKM - Contact Us</title>
    <!-- page icon -->
    <link rel="icon" href="../Assets/Images/2c5705d.png">
    <!-- header style -->
    <link rel="stylesheet" href="../CSS/Header.css">
    <!-- contact us page style -->
    <link rel="stylesheet" href="../CSS/Contact-Us.css">
    <!-- footer style -->
    <link rel="stylesheet" href="../CSS/Footer.css">
    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- wrapper part -->
     <div class="wrapper">
        <!-- header part -->
        <section class="header-part">
            <!-- navbar part -->
            <nav class="navbar navbar-expand-xl navbar-part mx-auto align-items-center z-1">
                <div class="container-fluid mt-3">
                    <!-- logo part -->
                    <img src="../Assets/Images/2c5705d.png" alt="LOGO" class="navbar-brand me-xl-5 me-0 logo-part">
                    <!-- hamburger menu -->
                    <button class="hamburger-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="../Assets/Svgs/icons8-menu-50.png" alt="Hamburger Menu Icon" class="d-xl-none d-block">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- unordered list part & list items part -->
                        <ul class="navbar-nav me-auto mb-2 mb-xl-0 ul-part">
                            <li class="nav-item active text-center mt-xl-0 mt-4 mx-xl-2 mx-0 home-li-part li-part">
                                <a class="nav-link home-a-part a-part" aria-current="page" href="../Layout/Index.html">Home</a>
                            </li>
                            <li class="nav-item text-center mt-xl-0 mt-3 mx-xl-2 mx-0 contact-us-li-part li-part">
                                <a class="nav-link contact-us-a-part a-part" href="#contact-us">Contact Us</a>
                            </li>
                            <li class="nav-item text-center mt-xl-0 mt-3 mx-xl-2 mx-0 about-us-li-part li-part">
                                <a class="nav-link about-us-a-part a-part" href="#about-us">About Us</a>
                            </li>
                        </ul>
                        <!-- search part -->
                        <form class="d-flex flex-column flex-xl-row justify-content-center align-items-center search-part" role="search">
                            <a href="../Layout/Shopping-Bag.html" class="text-decoration-none me-xl-5 mb-xl-0 mb-3 mt-xl-0 mt-4 shopping-bag-button">
                                <img src="../Assets/Svgs/icons8-shopping-cart-35.png" alt="Shopping Bag">
                            </a>
                            <button class="mb-xl-0 mb-2 mt-xl-0 mt-4 me-xl-2 search-button" type="submit">
                                <img src="../Assets/Svgs/icons8-search-35.png" alt="Search">
                            </button>
                            <input class="form-control me-xl-5 mb-xl-0 mb-3 search-box" type="search" placeholder="Search" aria-label="Search">
                            <a href="../Layout/Login.html" class="user-account ms-xl-4 mt-xl-0 mt-4">
                                <img src="../Assets/Svgs/icons8-account-35.png" alt="Account">
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
        </section>
        <!-- contact us part -->
        <section class="contact-us-part mt-5 px-4">
            <h1 class="title-part text-center">Contact Us</h1>
            <div class="details-part container">
                <p class="detail-main details mt-4">At <a href="../Layout/Index.html" class="text-decoration-none"><i>LKM</i></a>, we’re here to assist you with any questions or concerns you may have. Whether you need help with an order, have a product inquiry, or simply want to share your feedback, we’re always ready to assist you. Your satisfaction is our top priority!</p>
                <h3 class="title-one titles mt-5 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-octagon-fill me-2" viewBox="0 0 16 16">
                    <path d="M11.107 0a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146A.5.5 0 0 1 4.893 0z"/>
                  </svg>Customer Service Hours</h3>
                <p class="detail-one details mt-2 ms-4">Our customer service team is available from 9:00 AM to 6:00 PM (Saturday - Wednesday). We aim to respond to all inquiries as quickly as possible, typically within 24-48 hours during business days.</p>
                <h3 class="title-two titles mt-5 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-octagon-fill me-2" viewBox="0 0 16 16">
                    <path d="M11.107 0a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146A.5.5 0 0 1 4.893 0z"/>
                  </svg>Ways to Reach Us:</h3>
                <p class="detail-two details mt-2 mb-0 ms-4">- Emails:</p>
                <p class="detail-two details mt-1 mb-0 ms-5">- Kimia's Email: kimiya1386kpoper@gmail.com</p>
                <p class="detail-two details mt-1 mb-0 ms-5">- Lili's Email:  lil.ian.000.66.9.l@gmail.com</p>
                <p class="detail-two details mt-1 ms-4">Our team will get back to you as soon as possible.</p>
                <p class="detail-two details mt-2 mb-0 ms-4">- Phone:</p>
                <p class="detail-two details mt-1 mb-0 ms-5">If you prefer to speak with us directly, you can reach our customer service team at: [phone number]</p>
                <p class="detail-two details mt-1 mb-0 ms-5">(Available during business hours: Saturday - Wednesday, 9 AM to 6 PM).</p>
                <p class="detail-two details mt-2 mb-0 ms-4">- Mailing Address:</p>
                <p class="detail-two details mt-1 mb-0 ms-5">If you need to send us any documents or returns via mail, please use the following address:</p>
                <p class="detail-two details mt-1 mb-0 ms-5">LKM Online Shop</p>
                <p class="detail-two details mt-1 mb-0 ms-5">[Your business address]</p>
                <p class="detail-two details mt-1 mb-0 ms-5">Tehran, [State, ZIP Code] </p>
                <p class="detail-two details mt-1 mb-0 ms-5">Iran</p>
                <h3 class="title-three titles mt-5 d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-octagon-fill me-2" viewBox="0 0 16 16">
                    <path d="M11.107 0a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146A.5.5 0 0 1 4.893 0z"/>
                  </svg>Follow Us on Social Media:</h3>
                <p class="detail-three details mt-2 mb-0 ms-4">Stay connected with us on social media for the latest updates, promotions, and new arrivals!</p>
                <p class="detail-three details mt-2 mb-0 ms-5">- Facebook: [Link]</p>
                <p class="detail-three details mt-1 mb-0 ms-5">- Instagram: [Link]</p>
                <p class="detail-three details mt-1 mb-0 ms-5">- Twitter: [Link]</p>
                <p class="detail-final details mt-5 mb-5">We look forward to hearing from you and are committed to providing the best shopping experience possible. Thank you for choosing <a href="../Layout/Index.html" class="text-decoration-none"><i>LKM</i></a>!</p>
            </div>
        </section>
        <!-- footer part -->
        <section class="footer-part mt-4 d-flex justify-content-around align-items-start flex-wrap">
            <!-- logo & social media part -->
            <div class="logo-and-social-media-part d-flex flex-column justify-content-center align-items-center my-5 mx-4">
                <img src="../Assets/Images/2f8ede31.png" alt="LOGO" class="logo-footer">
                <div class="social-media-icons mt-2">
                    <a href="#"><img src="../Assets/Svgs/icons8-email-50.png" alt="Email" class="rounded-3 me-1"></a>
                    <a href="#"><img src="../Assets/Svgs/icons8-linkedin-50.png" alt="LinkedIn" class="rounded-3 mx-2"></a>
                    <a href="#"><img src="../Assets/Svgs/icons8-instagram-50.png" alt="Instagram" class="rounded-3"></a>
                </div>
            </div>
            <!-- help & information part -->
            <div class="help-and-information-part d-flex flex-column justify-content-center align-items-start my-5 mx-4" id="contact-us">
                <h5 class="lh-lg">Help & Information</h5>
                <a href="../Layout/Help-And-Contact-Us.html" class="text-decoration-none help-and-information-items lh-lg">Help & Contact Us</a>
                <a href="../Layout/Returns-And-Refunds.html" class="text-decoration-none help-and-information-items lh-lg">Returns & Refunds</a>
                <a href="../Layout/Online-Stores.html" class="text-decoration-none help-and-information-items lh-lg">Online Stores</a>
                <a href="../Layout/Terms-And-Conditions.html" class="text-decoration-none help-and-information-items lh-lg">Terms & Conditions</a>
            </div>
            <!-- about us part -->
            <div class="about-us-part d-flex flex-column justify-content-center align-items-start my-5 mx-4" id="about-us">
                <h5 class="lh-lg">About Us</h5>
                <a href="../Layout/About-Us.html" class="text-decoration-none about-us-items lh-lg">About Us</a>
                <a href="../Layout/What-We-Can-Do.html" class="text-decoration-none about-us-items lh-lg">What We Do</a>
                <a href="../Layout/Contact-Us.html" class="text-decoration-none about-us-items lh-lg">Contact Us</a>
            </div>
            <!-- communication part -->
            <div class="communication-part d-flex flex-column justify-content-center align-items-start my-5 text-center mx-4">
                <h5 class="lh-lg text-center">Let's Keep In Touch!</h5>
                <div class="input-and-send-icon mt-3">
                    <input type="text" placeholder="Your Email" class="rounded-5 py-3 ps-3 pe-3">
                    <img src="../Assets/Svgs/icons8-email-send-30.png" alt="Send" class="btn" onclick="redirectToLogin()">
                </div>
            </div>
            <!-- copyright part -->
            <div class="copyright-part w-100 py-4 d-flex justify-content-center align-items-center gap-1">
                <img src="../Assets/Svgs/icons8-copyright-48.png" alt="Copyright">
                <span>All Rights Reserved.</span>
            </div> 
        </section>
    </div>
    <!-- bootstrap js cdn -->
    <script src="../JS/Index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>