<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>LKM</title>
    <!-- page icon -->
    <link rel="icon" href="../Assets/Images/2c5705d.png">
    <!-- index style -->
    <link rel="stylesheet" href="../CSS/Index-Style.css">
    <!-- footer style -->
    <link rel="stylesheet" href="../CSS/Footer.css">
    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- wrapper part -->
    <div class="wrapper">
        <!-- header part -->
        <section class="header-part">
            <!-- navbar part -->
            <nav class="navbar navbar-expand-xl navbar-part mx-auto align-items-center z-1">
                <div class="container-fluid mt-3">
                    <!-- logo part -->
                    <img src="../Assets/Images/2c5705d.png" alt="LOGO" class="navbar-brand me-xl-5 me-0 logo-part">
                    <!-- hamburger menu -->
                    <button class="hamburger-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="../Assets/Svgs/icons8-menu-50.png" alt="Hamburger Menu Icon" class="d-xl-none d-block">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- unordered list part & list items part -->
                        <ul class="navbar-nav me-auto mb-2 mb-xl-0 ul-part">
                            <li class="nav-item active text-center mt-xl-0 mt-4 mx-xl-2 mx-0 home-li-part li-part">
                                <a class="nav-link home-a-part a-part" aria-current="page" href="../Layout/Index.html">Home</a>
                            </li>
                            <li class="nav-item text-center mt-xl-0 mt-3 mx-xl-2 mx-0 categories-li-part li-part">
                                <a class="nav-link categories-a-part a-part" href="#categories">Categories</a>
                            </li>
                            <li class="nav-item text-center mt-xl-0 mt-3 mx-xl-2 mx-0 contact-us-li-part li-part">
                                <a class="nav-link contact-us-a-part a-part" href="#contact-us">Contact Us</a>
                            </li>
                            <li class="nav-item text-center mt-xl-0 mt-3 mx-xl-2 mx-0 about-us-li-part li-part">
                                <a class="nav-link about-us-a-part a-part" href="#about-us">About Us</a>
                            </li>
                        </ul>
                        <!-- shopping bag & search part -->
                        <form class="d-flex flex-column flex-xl-row justify-content-center align-items-center shopping-bag-and-search-part" role="search">
                            <a href="../Layout/Shopping-Bag.html" class="text-decoration-none me-xl-5 mb-xl-0 mb-3 mt-xl-0 mt-4 shopping-bag-button">
                                <img src="../Assets/Svgs/icons8-shopping-cart-35.png" alt="Shopping Bag">
                            </a>
                            <button class="mb-xl-0 mb-2 mt-xl-0 mt-4 me-xl-2 search-button" type="submit">
                                <img src="../Assets/Svgs/icons8-search-35.png" alt="Search">
                            </button>
                            <input class="form-control me-xl-5 mb-xl-0 mb-3 search-box" type="search" placeholder="Search" aria-label="Search">
                            <a href="../Layout/Login.html" class="user-account ms-xl-4 mt-xl-0 mt-4">
                                <img src="../Assets/Svgs/icons8-account-35.png" alt="Account">
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="header-image-and-title z-0">
                <div class="header-image">
                    <img src="../Assets/Images/header.jpg" alt="Header Image" class="w-100 h-100">
                </div>
            </div>
        </section>
        <!-- slider/carousel bar part -->
        <section class="carousel-part mb-5">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-item-part rounded-5">
                        <img src="../Assets/Images/carousel-item 1.jpg" class="d-block w-100 h-100 rounded-5" alt="...">
                    </a>
                    <a href="#" class="carousel-item carousel-item-part rounded-5">
                        <img src="../Assets/Images/carousel-item 2.jpg" class="d-block w-100 h-100 rounded-5" alt="...">
                    </a>
                    <a href="#" class="carousel-item carousel-item-part rounded-5">
                        <img src="../Assets/Images/carousel-item 3.jpg" class="d-block w-100 h-100 rounded-5" alt="...">
                    </a>
                </div>
            </div>
        </section>
        <!-- category part -->
        <section class="category-part d-flex justify-content-start align-items-center mb-5 ms-4" id="categories">
            <div class="category-one me-4">
                <a href="../Layout/Show-Women-Products.html" class="text-decoration-none d-flex flex-column justify-content-center align-items-center">
                    <div class="categories mb-2 category-title">
                        <img class="category-size" src="../Assets/Images/Category Woman.jpg" alt="Woman">
                    </div>
                    <span class="category-title">Women</span>
                </a>
            </div>
            <div class="category-two me-4">
                <a href="../Layout/Show-Men-Products.html" class="text-decoration-none d-flex flex-column justify-content-center align-items-center">
                    <div class="categories mb-2">
                        <img class="category-size" src="../Assets/Images/Category man.jpg" alt="man">
                    </div>
                    <span class="category-title">Men</span>
                </a>
            </div>
            <div class="category-three">
                <a href="../Layout/Show-Accessories-Products.html" class="text-decoration-none d-flex flex-column justify-content-center align-items-center">
                    <div class="categories mb-2">
                        <img class="category-size" src="../Assets/Images/Category Jwerly.jpg" alt="Jwerly">
                    </div>
                    <span class="category-title">Accessories</span>
                </a>
            </div>
        </section>
        <!-- best selling products part -->
        <section class="best-selling-products-part mb-5 py-5">
            <h6 class="best-selling-products-title-part ms-sm-4 ms-3 mb-3 pb-3">Best Selling Products</h6>
            <div class="best-selling-products-cards-part">
                <div class="best-selling-products-cards-part d-flex justify-content-start align-items-center" id="Best-Product">
                    <div class="products rounded-3 me-4 px-2 d-flex flex-column justify-content-start align-items-center ">
                        <img class="products-image " src="../Assets/Images/products/woman1.PNG" alt="Product">
                        <div class="products-title mb-4 pb-3">omen's summer shirt, beach style, black color</div>
                        <div class="products-price mb-4">$70</div>
                        <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- separator line categories -->
        <div class="separator-line text-center mb-4 d-flex justify-content-center align-items-center"></div>
        <!-- categories title -->
        <div class="categories-title-part">
            <h4 class="title-part text-center">Categories Products</h4>
        </div>
        <!-- show women products part -->
        <section class="show-women-products-part py-5 ">
            <h6 class="show-women-products-title-part mb-3 pb-3">Women Products</h6>
            <div class="show-women-products-cards-part d-flex justify-content-start align-items-center" id="Show-Woman">
                <div class="product-one products rounded-3 ms-0 px-2 d-flex flex-column justify-content-start align-items-center">
                    <div class="rounded-3 mt-1">
                        <img class="products-image" id="products-image" src="../Assets/Images/products/woman1.PNG" alt="Product">
                    </div>
                    <div class="products-title mb-4 pb-3">Women's summer shirt, beach style, black color</div>
                    <div class="products-price mb-3">$70</div>
                    <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                </div>
            </div>
        </section>
        <!-- show men products part -->
        <section class="show-men-products-part py-5 justify-content-start">
            <h6 class="show-men-products-title-part mb-3 pb-3">Men Products</h6>
            <div class="show-men-products-cards-part d-flex justify-content-start align-items-center" id="Show-man">
                <div class="product-one products rounded-3 ms-0 px-2 d-flex flex-column justify-content-start align-items-center">
                    <div class="rounded-3 text-center mt-1">
                        <img class="products-image" src="../Assets/Images/products/man1.PNG" alt="Product">
                    </div>
                    <div class="products-title mb-4 pb-3">Men's long sleeve t-shirt</div>
                    <div class="products-price mb-4">$15.56</div>
                    <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                </div>
                <div class="product-two products rounded-3 d-flex flex-column justify-content-start align-items-center">
                    <div class="rounded-3 text-center mt-1">
                        <img class="products-image" src="../Assets/Images/products/man2.PNG" alt="Product">
                    </div>
                    <div class="products-title mb-4 pb-3">Inter Milan 3rd 2023 men's sports t-shirt</div>
                    <div class="products-price mb-4">$24.2</div>
                    <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                </div>
            </div>
        </section>
        <!-- show accessories products part -->
        <section class="show-accessories-products-part py-5">
            <h6 class="show-accessories-products-title-part mb-3 pb-3">Accessories Products</h6>
            <div class="show-accessories-products-cards-part d-flex justify-content-start align-items-center" id="Show-accessories">
                <div class="product-one products rounded-3 ms-0 px-2 d-flex flex-column justify-content-start align-items-center">
                    <div class="rounded-3 text-center mt-1">
                        <img class="products-image" src="../Assets/Images/products/accessory1.PNG" alt="Product">
                    </div>
                    <div class="products-title mb-4 pb-3">Women's necklace, jewelry with black heart shape</div>
                    <div class="products-price mb-4">$23.7</div>
                    <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                </div>
                <div class="product-two products rounded-3 me-4 d-none d-sm-flex flex-column justify-content-start align-items-center">
                    <div class="rounded-3 text-center mt-1">
                        <img class="products-image" src="../Assets/Images/products/accessory2.PNG" alt="Product">
                    </div>
                    <div class="products-title mb-4 pb-3">Bandage with heartbeat signs</div>
                    <div class="products-price mb-4">$80.5</div>
                    <button class="add-to-shopping-bag btn px-3 py-2" onclick="getHTMLProductData(this)">Add To Shopping Bag</button>
                </div>
            </div>
        </section>
        <!-- footer part -->
        <section class="footer-part mt-4 d-flex justify-content-around align-items-start flex-wrap">
            <!-- logo & social media part -->
            <div class="logo-and-social-media-part d-flex flex-column justify-content-center align-items-center my-5 mx-4">
                <img src="../Assets/Images/2f8ede31.png" alt="LOGO" class="logo-footer">
                <div class="social-media-icons mt-2">
                    <a href="#"><img src="../Assets/Svgs/icons8-email-50.png" alt="Email" class="rounded-3 me-1"></a>
                    <a href="#"><img src="../Assets/Svgs/icons8-linkedin-50.png" alt="LinkedIn" class="rounded-3 mx-2"></a>
                    <a href="#"><img src="../Assets/Svgs/icons8-instagram-50.png" alt="Instagram" class="rounded-3"></a>
                </div>
            </div>
            <!-- help & information part -->
            <div class="help-and-information-part d-flex flex-column justify-content-center align-items-start my-5 mx-4" id="contact-us">
                <h5 class="lh-lg">Help & Information</h5>
                <a href="../Layout/Help-And-Contact-Us.html" class="text-decoration-none help-and-information-items lh-lg">Help & Contact Us</a>
                <a href="../Layout/Returns-And-Refunds.html" class="text-decoration-none help-and-information-items lh-lg">Returns & Refunds</a>
                <a href="../Layout/Online-Stores.html" class="text-decoration-none help-and-information-items lh-lg">Online Stores</a>
                <a href="../Layout/Terms-And-Conditions.html" class="text-decoration-none help-and-information-items lh-lg">Terms & Conditions</a>
            </div>
            <!-- about us part -->
            <div class="about-us-part d-flex flex-column justify-content-center align-items-start my-5 mx-4" id="about-us">
                <h5 class="lh-lg">About Us</h5>
                <a href="../Layout/About-Us.html" class="text-decoration-none about-us-items lh-lg">About Us</a>
                <a href="../Layout/What-We-Can-Do.html" class="text-decoration-none about-us-items lh-lg">What We Do</a>
                <a href="../Layout/Contact-Us.html" class="text-decoration-none about-us-items lh-lg">Contact Us</a>
            </div>
            <!-- communication part -->
            <div class="communication-part d-flex flex-column justify-content-center align-items-start my-5 text-center mx-4">
                <h5 class="lh-lg text-center">Let's Keep In Touch!</h5>
                <div class="input-and-send-icon mt-3">
                    <input type="text" placeholder="Your Email" class="rounded-5 py-3 ps-3 pe-3">
                    <img src="../Assets/Svgs/icons8-email-send-30.png" alt="Send" class="btn" onclick="redirectToLogin()">
                </div>
            </div>
            <!-- copyright part -->
            <div class="copyright-part w-100 py-4 d-flex justify-content-center align-items-center gap-1">
                <img src="../Assets/Svgs/icons8-copyright-48.png" alt="Copyright">
                <span>All Rights Reserved.</span>
            </div> 
        </section>
    </div>
    <!-- bootstrap js cdn -->
    <script src="../JS/Index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>